.form-check-input {
  background-color: rgb(255, 246, 167) !important;
  border-color: rgb(247, 236, 146)  !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

@media screen and (max-width: 768px) {
  #result {
    /* overflow-wrap: break-word; */
    white-space: pre-line;
  }
}